# GoLand IDE
.idea

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Go test binary, built with `go test -c`
*.test

# Executables and libraries
*.exe
*.exe~
*.dll
*.so
*.dylib
pyrowall
